.custom-phone-select {
	border-radius: 0.125rem !important;
	border: none !important;
	outline: none !important;
}

.custom-phone-select__control {
	width: 8rem !important;
	cursor: pointer !important;
	height: 2.5rem !important;
	background: #1e1f22 !important;
	border: none !important;
	box-shadow: none !important;
}

.custom-phone-select__control--menu-is-open {
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.custom-phone-select__placeholder {
	color: #949ba4 !important;
}

.custom-phone-select__indicator-separator {
	display: none !important;
}

.custom-phone-select__dropdown-indicator {
	color: #b5bac1 !important;
}

.custom-phone-select__dropdown-indicator:hover {
	color: #dbdee1 !important;
}

.custom-phone-select__input-container {
	color: #b5bac1 !important;
}

.custom-phone-select__single-value {
	color: #b5bac1 !important;
}

.custom-phone-select__menu {
	padding: 0 !important;
	margin: 0 !important;
	box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.2) !important;
	border: 1px solid #1e1f22 !important;
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	background: #2b2d31 !important;
	width: 100% !important;
	color: #b5bac1 !important;
	position: absolute !important;
	bottom: 0 !important;
	left: 0 !important;
}

.custom-phone-select__menu-list {
	padding: 0 !important;
	scroll-behavior: smooth;
}

.custom-phone-select__option--is-focused {
	background: #35373c !important;
	color: #dbdee1 !important;
}

.custom-phone-select__option--is-selected {
	background: #404249 !important;
	color: #ffffff !important;
}

.custom-phone-select__menu-notice {
	padding: 0.25rem 0.25rem !important;
}

@media not all and (min-width: 485px) {
	.custom-phone-select__control {
		width: 100% !important;
	}
}
