@font-face {
	font-family: 'gg sans';
	src:
		local('gg sans Bold'),
		local('ggsans-Bold'),
		url('7e44a0c40cf9f5ad8851.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'gg sans';
	src:
		local('gg sans SemiBold'),
		local('ggsans-Semibold'),
		url('75ba5f0f601173633474.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'gg sans';
	src:
		local('gg sans Medium'),
		local('ggsans-Medium'),
		url('04bca5e801a9fcbfc3aa.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'gg sans';
	src:
		local('gg sans ExtraBold'),
		local('ggsans-ExtraBold'),
		url('6be494f6834de299bf2b.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'gg sans Normal';
	src:
		local('gg sans Normal'),
		local('ggsans-Normal'),
		url('80bebfd30fcab0b986b9.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}