@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'gg sans', sans-serif;
}

* {
    user-select: none;
}

a {
	color: #00a8fc;
}

input {
	outline: none;
}

a:hover {
	text-decoration: underline;
}

div::-webkit-scrollbar,
ul::-webkit-scrollbar {
	width: 0.5rem;
}

div::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb {
	background: #1e1f22;
	border-radius: 99rem;
	border: 0.15rem solid #2b2c31;
}

@layer components {
	.navbar-item {
		@apply relative mt-2 grid h-12 w-12 cursor-pointer place-items-center rounded-[50%] bg-[#313338]
        transition-all duration-200 ease-in-out
        before:absolute before:left-[-1rem]
        before:h-2 before:w-2 before:translate-x-[-0.25rem] before:rounded before:bg-[transparent] before:transition-all before:duration-200 before:ease-linear hover:rounded-2xl hover:bg-[#3BA55D]
        hover:before:bg-white hover:before:h-6 hover:before:translate-x-0;
	}
}

.custom-select {
	border-radius: 0.125rem !important;
	border: none !important;
	outline: none !important;
}

.custom-select__control {
	width: 8rem !important;
	cursor: pointer !important;
	height: 2.5rem !important;
	background: #1e1f22 !important;
	border: none !important;
	box-shadow: none !important;
}

.custom-select__control--menu-is-open {
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.custom-select__placeholder {
	color: #949ba4 !important;
}

.custom-select__indicator-separator {
	display: none !important;
}

.custom-select__dropdown-indicator {
	color: #b5bac1 !important;
}

.custom-select__dropdown-indicator:hover {
	color: #dbdee1 !important;
}

.custom-select__input-container {
	color: #b5bac1 !important;
}

.custom-select__single-value {
	color: #b5bac1 !important;
}

.custom-select__menu {
	padding: 0 !important;
	margin: 0 !important;
	box-shadow: 0 0 1rem 0.25rem rgba(0, 0, 0, 0.2) !important;
	border: 1px solid #1e1f22 !important;
	border-top-right-radius: 0 !important;
	border-top-left-radius: 0 !important;
	background: #2b2d31 !important;
	width: 100% !important;
	color: #b5bac1 !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	transform: translateY(-100%) !important;
	overflow: hidden;
}

.custom-select__menu-list {
	padding: 0 !important;
	scroll-behavior: smooth;
}

.custom-select__option--is-focused {
	background: #35373c !important;
	color: #dbdee1 !important;
}

.custom-select__option--is-selected {
	background: #404249 !important;
	color: #ffffff !important;
}

.custom-select__menu-notice {
	padding: 0.25rem 0.25rem !important;
}

@media not all and (min-width: 485px) {
	.custom-select__control {
		width: 100% !important;
	}
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	5% { transform: translate(2px, -1px) rotate(1deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	15% { transform: translate(1px, -3px) rotate(1deg); }
	20% { transform: translate(-3px, 0px) rotate(0deg); }
	25% { transform: translate(2px, -1px) rotate(-1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	35% { transform: translate(2px, -2px) rotate(1deg); }
	40% { transform: translate(1px, -1px) rotate(-1deg); }
	45% { transform: translate(2px, 3px) rotate(0deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	55% { transform: translate(-2px, -1px) rotate(1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	65% { transform: translate(-1px, 3px) rotate(-1deg); }
	70% { transform: translate(3px, 1px) rotate(1deg); }
	75% { transform: translate(-2px, -3px) rotate(0deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	85% { transform: translate(-3px, 3px) rotate(-1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	95% { transform: translate(2px, 0px) rotate(1deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake-text {
	display: inline-block;
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}
